body {
    background-color: $background-color;
    color: $text-color;
    min-height: 100vh;
    font-family: $main-font, 'sans-serif';
    

    @include laptop {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 4em 1fr;
    }
}

