.logo {
    width: 3em;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.3rem;
    left: 0.3rem;
    z-index: 200;

    @include laptop {
        position: absolute;
        left: 8%;
        top: 1rem;
        width: 10%;
    }

}

