.title {
    padding: 0 0 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-bottom: 1px solid $text-color;
    
    @include laptop {
        border-top: 1px solid $text-color;
        margin: 3rem  0.5rem 1rem;
        padding: 0.5rem;
    }
}