.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 50%;
    height: 3em;
    transform: translateX(-50%);
    padding-left: 60px;
    background-color: $dark-color-2;
    z-index: 100;
    
    &__icon {
        width: 80px;
        display: flex;
        justify-content: space-around;
    }
    
    @include laptop {
        left: 100%;
        height: 4em;
        width: 25vw;
        transform: translateX(-100%);
        justify-content: space-between;
        background-color: transparent;
    }
}